nav {
  width: 300px;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
  z-index: 1;
  height: 100%;
}

nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.menu {
  background-color: white;
  padding-left: 10px;
}

.fa-bars {
  color: black;
  padding-top: 20px;
}

.grey1 {
  background-color: #787878;
}

.grey2 {
  background-color: #989898;
}

.grey3 {
  background-color: #B8B8B8;
}

.grey4 {
  background-color: #C8C8C8;
}

.grey5 {
  background-color: #D8D8D8;
}

.grey6 {
  background-color: #E8E8E8;
}

.errorlist {
  list-style-type: none;
  padding-left: 15px;
  color: red;
}

.errorlist li {
  padding: 0px;
  margin: 0px;
}

