/*
* {
	outline: 1px solid red
}
*/
.category-container {
	min-height: 200px;
}

.month {
}

.budget {
}

.category-detail {
	margin-bottom: 10px;
}

.chart {
	min-height: 200px;
}

.category-budget {
	padding-left: 15px;
	padding-right: 15px;
}

.budget-container {
	vertical-align: middle;
}

.meter {
	height: 25px;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 4px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: rgb(43,194,83);
	background-image: linear-gradient(
	   center bottom,
	   rgb(43,194,83) 37%,
	   rgb(84,240,84) 69%
	);
	position: relative;
	overflow: hidden;
}

.progress {
  position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

