{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-xs-12 text-center grey3">
		<h3 class="text-uppercase bold">Expense Tracker</h3>
		<h1 class="super-text">
			Welcome
		</h1>
		<p>We are reviewing your request</p>
	</div>
</div>
{% endblock %}
