<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<!-- Font awesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css" title="" type="text/css" />
		<link rel="stylesheet" href="/static/css/home.css" title="" type="text/css" />
		<link rel="stylesheet" href="/static/css/base.css" title="" type="text/css" />

	</head>
	<body>
		<nav id="drawer" class="menu grey5">
				<div>{{ user.email }}</div>
      		<ul class="nav">
        		<li class="active"><a href="/">Home</a></li>
        		<li><a id="add-expense" href="/add-expense/">Add new expense</a></li>
						<li><a id="expense-list" href="/expenses/">Expenses</a></li>
						{% if user.is_authenticated %}
	        		<li><a href="#">Account</a></li>
							<li><a id="id_logout" href="/accounts/logout">Log out</a></li>
						{% else %}
							<li><a id="id_nav_login" href="/accounts/google/login">Sign in</a></li>
						{% endif %}
        	</ul>
		</nav>
		<main>
			<div class="container">
				<div class="row grey6">
					<div class="col-xs-8 col-xs-offset-2 text-center">
						<h2>Page Name</h2>
					</div>
					<div class="col-xs-2 text-right">
						<a id="menu">
							<i class="fa fa-bars fa-2x"></i>
						</a>
					</div>					
				</div>
					{% block content %}{% endblock %}
			</div>
		</main>
		<script src="/static/js/base.js"></script>	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
