{% extends "base.html" %}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- Single button -->
				
				<h2 class='page-header'>All Expenses</h2>
				<span class="btn-group">
  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
  					</button>
  					<ul class="dropdown-menu">
    					<li><a href="#">Grocery</a></li>
    					<li><a href="#">Restaurant</a></li>
    					<li><a href="#">Alcohol</a></li>
    					<li><a href="#">Alcohol</a></li>
    					<li><a href="#">Transport</a></li>
    					<li><a href="#">Clothing</a></li>
    					<li><a href="#">Personal Care</a></li>
    					<li><a href="#">Fun</a></li>
    					<li><a href="#">Misc</a></li>
    					<li><a href="#">Gift</a></li>
    					<li><a href="#">Vacation</a></li>
    					<li><a href="#">Living</a></li>
    					<li role="separator" class="divider"></li>
    					<li><a href="#">All Expenses</a></li>
  					</ul>
				</span>
				<table id="id-expense-table" class="table">
					<thead>
						<tr>
							<th>Location</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
					{% for expense in expenses %}
						<tr>
							<td>{{ expense.location }}</td>
							<td>${{ expense.get_effective_cost }}</td>
							{% if expense.share_with %}
								{% if expense.owner == user %}
									<td style="display: none;">{{ expense.share_with }}</td>
								{% elif expense.share_with == user %}
									<td style="display: none;">{{ expense.owner }}</td>
								{% endif %}
							{% else %}
								<td style="display: none;"></td>
							{% endif %}
						</tr>	
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
