{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-xs-12 text-center grey3">
		<h3 class="text-uppercase bold">Expense Tracker</h3>
		<h1 class="super-text">
			<a id="id_login" href="/accounts/google/login">Sign in</a>
		</h1>
		<p>An awesome app to track your expenses!</p>
	</div>
</div>
{% endblock %}
