{% extends "base.html" %}


{% block content %}
	<div class="container">
		<form class="form-add-expense" method="POST">
			<h1 class="form-add-expense-heading">Add An Expense</h1>
			<div class="form-group">
				<label for="input_new_expense_location" class="col-sm-2">Location</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" 
						id="input_new_expense_location" 
						name="input_new_expense_location" placeholder="Enter location">
				</div>
			</div>
			<div class="form-group">
				<label for="input_new_expense_cost" class="col-sm-2">Cost</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" 
					id="input_new_expense_cost" name="input_new_expense_cost"
					placeholder="0.00">
				</div>
			</div>
			<div class="form-group">
				<label for="input_new_expense_category" class="col-sm-2">Category</label>
				<div class="col-sm-10">
					<select class="form-control" id="input_new_expense_category" name="input_new_expense_category"
					placeholder="Select Category">
						<option>Grocery</option>
						<option>Restaurant</option>
						<option>Alcohol</option>
						<option>Transport</option>
						<option>Clothing</option>
						<option>Personal Care</option>
						<option>Fun</option>
						<option>Misc</option>
						<option>Gift</option>
						<option>Vacation</option>
						<option>Living</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="input_new_expense_date" class="col-sm-2">Date</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" 
					id="input_new_expense_date" name="input_new_expense_date"
					placeholder="Enter Date">
				</div>
			</div>
			{% csrf_token %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" id="id-submit-form" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-12">
				<h2>Recently Added</h2>
				<a href="/expenses/">EXPENSES</a>
				<table id="id-recently-added">
				{% for expense in expenses %}
					<tr>
					<td>{{ expense.location }}</td>
					<td>{{ expense.cost }}</td>
					<td>{{ expense.transaction_date|date:'Y-m-d' }}</td>
					<td>{{ expense.category }}</td>
			        	</tr>	
				{% endfor %}
				</table>
			</div>
		</div>
	</div>

{% endblock %}
