
{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-success" role="alert" id="notification">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			<form class="form-add-expense" method="POST">
			<h1 id="id_add_expense_heading" class="heading">Add An Expense</h1>
			{{ form.non_field_errors }}
			<div class="form-group">
				<label for="{{ form.location.id_for_label }}" class="col-sm-2">
					Location
				</label>
				<div class="col-sm-10">
					{% render_field form.location type="text" class="form-control" placeholder="Enter location" %}
				</div>
				{{ form.location.errors }}
			</div>
			<div class="form-group">
				<label for="{{ form.cost.id_for_label }}" class="col-sm-2">
					Cost
				</label>
				<div class="col-sm-10">
					{% render_field form.cost type="text" class="form-control" placeholder="0.00" %}
				</div>
				{{ form.cost.errors }}
			</div>
			<div class="form-group">
				<label for="{{ form.category.id_for_label }}" class="col-sm-2">
					Category
				</label>
				<div class="col-sm-10">
					{% render_field form.category type="text" class="form-control" placeholder="Select Category" %}
				</div>
			</div>
			<div class="form-group">
				<label for="{{ form.transaction_date.id_for_label }}" class="col-sm-2">
					Date
				</label>
				<div class="col-sm-10">
					<!-- {% render_field form.transaction_date type="date" class="form-control" placeholder="Enter Date"%}
			 i-->
			 <input id={{ form.transaction_date.id_for_label}} class="form-control" placeholder="Enter Date" type="date" value="{{ form.transaction_date.initial }}" name={{ form.transaction_date.name }}></input>
				</div>
				{{ form.transaction_date.errors }}
			</div>
			<div class="form-group">
				<label for="{{ form.share_with.id_for_label }}" class="col-sm-2">
					Share	
				</label>
				<div class="col-sm-10">
					{% render_field form.share_with type="text" class="form-control" placeholder="Email Address"%}
				</div>
			</div>
			<div class="form-group">
				<label for="{{ form.payer.id_for_label }}" class="col-sm-2">
					Payer	
				</label>
				<div class="col-sm-10">
					{% render_field form.payer type="text" class="form-control" placeholder="Email Address"%}
				</div>
			</div>
		  <div class="form-group">
				<label for="{{ form.description.id_for_label }}" class="col-sm-2">
					Description	
				</label>
				<div class="col-sm-10">
					{% render_field form.description type="text" class="form-control" placeholder="Extra details"%}
				</div>
			</div>	{% csrf_token %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" id="id-submit-form" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-12">
				<h2>Recently Added</h2>
				<a href="/expenses/">EXPENSES</a>
				<table id="id-recently-added">
				{% for expense in expenses %}
					<tr>
					<td>{{ expense.location }}</td>
					<td>{{ expense.cost }}</td>
					<td>{{ expense.transaction_date|date:'Y-m-d' }}</td>
					<td>{{ expense.category }}</td>
			        	</tr>	
				{% endfor %}
				</table>
			</div>
		</div>

{% endblock %}
