{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="total col-xs-12 text-center grey3">
		<h3 class="text-uppercase bold">Total</h3>
		<h1 class="super-text">$500</h1>
		<p>Unused of $1500</p>
	</div>
	</div>
		<div class="row">
			<div class="col-xs-6 text-center grey1">
				<h5 class="text-uppercase bold">Grocery</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
			<div class="col-xs-6 text-center grey2">
				<h5 class="text-uppercase bold">Restaurant</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-center grey 4">
				<h5 class="text-uppercase bold">Alcohol</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
			<div class="col-xs-6 text-center grey6">
				<h5 class="text-uppercase bold">Transport</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-center grey3">
				<h5 class="text-uppercase bold">Clothing</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
			<div class="col-xs-6 text-center grey1">
				<h5 class="text-uppercase bold">Fun</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
		<div class="row">
			<div class="col-xs-6 text-center grey2">
				<h5 class="text-uppercase bold">Personal Care</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
			<div class="col-xs-6 text-center grey4">
				<h5 class="text-uppercase bold">Misc</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-center grey6">
				<h5 class="text-uppercase bold">Gift</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
			<div class="col-xs-6 text-center grey3">
				<h5 class="text-uppercase bold">Vacation</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
		</div>
		<div class="row">
			</div>
			<div class="col-xs-6 text-center grey1">
				<h5 class="text-uppercase bold">Living</h5>
				<h1>$500</h1>
				<p>Unused of $1500</p>
			</div>
		</div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
{% endblock %}
